# Dependencias
node_modules/
.pnpm-store/

# Build
dist/
*.js.map

# Logs
*.log

# Variables de entorno
.env
.env.local
.env.*.local

# tmp
*.tmp
.cache/

# SBOM
sbom.json
bom.json
licenses.json

# Testing
coverage/
.vitest/
html/
